phishing.txt
[{"id":"dcf97dcb.45e3f8","type":"http in","z":"2eb8f1d0.3361d8","name":"","url":"/detect","method":"post","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["1511428a.73d8b4"]]},{"id":"1511428a.73d8b4","type":"function","z":"2eb8f1d0.3361d8","name":"Phishing Detection","func":"// Placeholder logic for phishing detection\nconst isPhishing = Math.random() < 0.5; // Simulated detection\n\n// Construct response\nconst response = {\n    isPhishing: isPhishing\n};\n\n// Send response\nmsg.payload = response;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":160,"wires":[["bb30e1c8.f53358"]]},{"id":"bb30e1c8.f53358","type":"http response","z":"2eb8f1d0.3361d8","name":"","statusCode":"","headers":{},"x":500,"y":160,"wires":[]}]
